h1 {
    text-align: center;
    font-size: 48px;
  }
h2 {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 50px; 
    left: 0px; 
    font-size: 38px;
}
h3 {
    position: relative;
    top: -525px; 
    left: 850px; 
    font-size: 28px;
}
h4 {
    position: relative;
    top: -940px; 
    left: 850px; 
    font-size: 28px;
}

p {
    border: 5px solid #000; 
    padding: 10px; 
    font-size: 14px;
    background-color:
  }
  body {
    background: rgb(210, 209, 209));
    font-family: Apple Chancery, cursive;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
  }
img {
    border: 5px solid #000; 
}
table {
    border: 5px solid #000; 
    position: relative;
    top: 50px; 
    left: 0px; 

}
video {
    border: 5px solid #670eb1; 
}
ol {
    position: relative;
    top: -525px; 
    left: 825px; 
  }
label {
    position: relative;
    top: -940px; 
    left: 850px; 
}
input {
    position: relative;
    top: -940px; 
    left: 850px; 
}